.nav {
  position: fixed;
  top: 0;
  display: flex;
  padding: 20px;
  width: 100%;
  z-index: 1;
  height: 27px;
  transition: all 0.5s;
}
.nav__logo {
  object-fit: contain;
  width: 80px;
  position: fixed;
  top: 20px;
  left: 20px;
}
.nav__user-logo {
  object-fit: contain;
  width: 30px;
  position: fixed;
  right: 20px;
  top: 20px;
}
.nav__black {
  background-color: #111;
}
